<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mortgage Calculator</title>
    @Styles.Render("~/Content/css")
    
    <!--AngularJs-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-cookies.min.js"></script>
    <script src="~/_StaticContent/Js/AppModule.js"></script>
    <script src="~/_StaticContent/Js/Controllers/mortgageCalculatorController.js"></script>
    <script src="~/_StaticContent/Js/Controllers/mortgageHistoryController.js"></script>
    <script src="~/_StaticContent/Js/Controllers/loginController.js"></script>
    <script src="~/_StaticContent/Js/Controllers/logoutController.js"></script>
    <script src="~/_StaticContent/Js/Controllers/registerController.js"></script>
    <script src="~/_StaticContent/Js/Services/mortgageService.js"></script>
    <script src="~/_StaticContent/Js/Services/authHttpResponseMiddleware.js"></script>
    <script src="~/_StaticContent/Js/Services/loginService.js"></script>
    <script src="~/_StaticContent/Js/Services/registerService.js"></script>
</head>
<body ng-app="mortgageCalculatorApp" ng-cloak>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ng-href="#/">Mortgage Calculator</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a ng-href="#/">Calculator</a></li>
                    <li><a ng-href="#/History">History</a></li>
                    <li><a ng-show="user" ng-href="#/Logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="col-md-12">
            <div ng-view></div>
            @RenderBody()
        </div>
        <hr />
        <div class="col-md-12">
            <footer class="col-md-12">
                <p>&copy; @DateTime.Now.Year - Mortgage Calculator</p>
            </footer>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
